@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.3em;
  background-color: #f1f1f1;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;          
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);          
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
div.field {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px
}
.logo {
  width: 820px;
  margin: 20px auto;
  text-align: center;
  height: 30px;
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
}
a.no {
  text-decoration: none
}
img {
  border: none
}
.all {
  background-image: none;
  font-weight: 700
}
.nav {
  background: #f3f3f3;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.1), 0 1px 0 0 rgba(255,255,255,0.1);
  font-weight: 300;
  padding: 15px
;
  color: #000;
}
input,
textarea,
select,
.inputbox-sml {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  border: 2px solid #4a1916;
  border-radius: 3px;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  padding: 8px 5px
}
input:focus,
textarea:focus {
  background: rgba(0, 0, 0, 0.2)
}
select {
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 4px 8px
}
a:active {
  color: #000
}
p {
  font-size: 12px;
  background: rgba(0,0,0,0.1);
  border-radius: 4px;
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.2), 0 1px 0 0 rgba(255,255,255,0.2);
  margin: 5px 0 10px;
  padding:10px
}
div#installation {
  width: 800px;
  background-color: #222;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-radius: 5px;
  padding: 15px
;
  color: #fff;
}
table.inner-content {
  background-color: #2C2929;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.2), 0 1px 0 0 rgba(255,255,255,0.2);
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table.inner-content.data tr td:first-child {
  width: 200px
}
table.inner-content thead tr th,
table.inner-content tbody tr td {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  background: #131212;
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.2), 0 1px 0 0 rgba(255,255,255,0.2);
  padding: 10px 5px
}
table.inner-content thead tr th:first-child{
  border-radius: 3px 0 0 0;
}
table.inner-content thead tr th:last-child{
  border-radius: 0 3px 0 0;
}
table.inner-content tbody tr td {
  background: none;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.1);
  font-size: 12px
}
table.inner-content tbody tr td img {
  vertical-align: middle
}
.lgn {
  text-align: right;
  margin: 0 10px 10px 0
}
#copyright {
  line-height: 16px;
  text-align: center;
  width: 492px;
  margin: 0 auto 10px
}
div.error {
  border: 1px solid #333;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  line-height: 20px;
  background-color: #DA4141;
  padding: 10px
}
.err {
  color: #4EE011;
  display: none;
  font-size: 11px;
  line-height: 16px;
  white-space: nowrap;
  padding: 0 0 0 20px
}
h2#install {
  font-size: 32px;
  line-height: 36px;
  font-weight: lighter;
  display: block;
  height: 32px;
  margin: 10px 0;
  padding: 0
}
h2#install img {
  float: left;
  margin-right: 10px
}
h3 {
  font-size: 16px;
  font-weight: 300;
  box-shadow: 0 3px 0 0 rgba(255,255,255,0.1), 0 1px 0 0 rgba(0,0,0,0.2);
  margin: 20px 0 10px;
  padding: 0 0 5px
}
span.no {
  color: #DA4141;
  font-weight: 400
}
span.yes {
  color: #8BC31B;
  font-weight: 400
}
td.elem {
  font-weight: 700;
  vertical-align: top;
  width: 150px
}
.license {
  background-color: #FFF;
  height: 400px;
  width: 780px;
  margin: 10px
}
td.item-desc {
  padding-left: 15px
}
div.query {
  border: 1px dotted #222;
  color: #777;
  font-size: 10px;
  margin: 0 0 10px
}
div.qerror {
  color: red;
  font-size: 10px;
  margin: 0 0 5px
}
div.db_errors {
  border: 1px solid #777;
  height: 300px;
  overflow: scroll;
  width: 300px;
  margin: 10px 0 0;
  padding: 5px
}
div.remove_install {
  background-color: #4a1916;
  border: 1px solid #333;
  color: #fff;
  font-weight: 300;
  text-align: center;
  padding: 5px 0
}
.btn {
  margin-top: 10px
}
form {
  display: inline-block;
  margin: 0;
  padding: 0
}
.btn button {
  text-align: center;
  height: 30px;
  font-size: 14px;
  line-height: 28px;
  padding: 0 12px 2px;
  margin: 0;
  background: #2ea2cc;
  border-color: #0074a2;
  -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
  color: #fff;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn button:hover {
  color: #fff;
  border-color: #2ea2cc;
}
.nav b,
a:link,
a:visited {
  color: #FF0000;}